backend "consul" {
    address = "consul.service:8500"
    path = "vault"
    scheme = "http"
}

listener "tcp" {
    address = "0.0.0.0:8200"
    tls_cert_file = "/var/vault/config/vault.crt"
    tls_key_file = "/var/vault/config/vault.key"
}
